{% extends "quiz/quiz.html" %}
{% block content %}
<p style="margin-bottom:3cm;"></p>
<input type="text" id="search_courses" placeholder="search" autofocus>
<ul class="courses">
{% for course in courses %}
    <li data-text="{{ course.code }} {{ course.name }}">
        <a href="{{ url_for('quiz.course', course=course.code) }}">
            <div class="code">{{ course.code }}</div>
            <div class="count">{{ course.question_count }} <small>question</small></div>
            <div class="name">{{ course.name }}</div>
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block js %}
{{ super () }}
<script>
    new CoursesFilter(document.getElementById('search_courses'), document.querySelector('ul.courses'));
</script>
{% endblock %}
